[submodule "lib/codegen"]
    path = lib/codegen
    url = git@github.com:achreto/codegen-rs.git
[submodule "lib/crustal"]
	path = lib/crustal
	url = git@github.com:achreto/crustal.git
[submodule "lib/smtlib2"]
	path = lib/smtlib2
	url = git@github.com:achreto/rust-smtlib2.git
