[submodule "lib/codegen"]
    path = lib/codegen
    url = git@github.com:achreto/codegen-rs.git
[submodule "lib/crustal"]
	path = lib/crustal
	url = git@github.com:achreto/crustal.git
[submodule "lib/smtlib2"]
	path = lib/smtlib2
	url = git@github.com:achreto/rust-smtlib2.git
[submodule "lib/srcspan"]
	path = lib/srcspan
	url = git@github.com:achreto/rust-srcspan.git
[submodule "lib/tokstream"]
	path = lib/tokstream
	url = git@github.com:achreto/rust-tokstream.git
[submodule "lib/z3"]
	path = lib/z3
	url = git@github.com:achreto/z3.rs.git
